@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --colourBgMain: #fffeff;
  --colourBgComplementary: #f8edca;
  --colourBgNav: #e8d185;
  --colourButton: #fe4d61;
  --colourAccent: #0038a8;
  --fontTitle: "DM Serif Text", serif;
  --fontMain: "Montserrat", sans-serif;
}
